.hol-table {
    min-width: 350px;
}

.hol-date-cell {
    min-height: 50px;
    max-width: 70px;
    position: relative;
}

.hol-date-cell-header {
    height: 15px;
}

.hol-date-cell-body {
    height: 25px;
    text-align: center;
}

.hol-date-cell-footer {
    height: 10px;
}

.tn-hol-body-num {
    text-align: center;
    height: 20px;
    width: 20px;
    font-size: 15px;
    line-height: 20px;
    border-radius: 50%;
    color: gray;
    margin: auto;
    border: gray solid 2px;
}

.ts-hol-body-num {
    text-align: center;
    height: 20px;
    width: 20px;
    font-size: 15px;
    line-height: 20px;
    border-radius: 50%;
    margin: auto;
    background-color: gray;
}

.date-selectable {
    cursor: pointer;
}

div.hol-body-holiday-num {
    color: red;
}

div.hol-body-work-num {
    color: black;
}

div.holiday-selectable-work {
    text-align: center;
    height: 20px;
    width: 20px;
    font-size: 15px;
    line-height: 20px;
    border-radius: 50%;
    color: gray;
    margin: auto;
    border: gray solid 2px;
}

div.holiday-selectable-holiday {
    text-align: center;
    height: 20px;
    width: 20px;
    font-size: 15px;
    line-height: 20px;
    border-radius: 50%;
    color: rgb(241, 34, 34);
    margin: auto;
    border: rgb(241, 34, 34) solid 2px;
}

div.holiday-selected-holiday {
    text-align: center;
    height: 20px;
    width: 20px;
    font-size: 15px;
    line-height: 20px;
    border-radius: 50%;
    color: white;
    margin: auto;
    background-color: rgb(241, 34, 34);
}